

html, body {
	background-color: #001a07;
	font-family: 'Courier New', Courier, monospace;
	color: #fbbc1b;
	
	img {
		max-width: 100%;
	}
}



.App {
	text-align: center;

	.banner {
		.rose {
			@media (max-width: 1100px) {
				display: none;
			}
		}
		.cross {
			@media (max-width: 1100px) {
				display: none;
			}
		}
	}

	.flip-vertically {
		@media (min-width: 1101px) {
			top:50px;
		}
		transform: scaleY(-1);
	}

	.links {
		background-color: #4f0000;
		margin-top: 10px;
		padding-top:2px;
		padding-bottom:2px;
		li {
			display: inline-block;
			padding: 0 10px;
			a {
				color: #fbbc1b;
				text-decoration: none;
				&:hover {
					color: #fbbc1b;
					text-decoration: underline;
				}
			}
		}
	}

	.container {
		margin-top: 40px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		background-color: #69482f;
		max-width: 800px;
		border-style: outset;
		border-width: 5px;
		border-color: #7d5636;
		hr {
			border: 1px solid #442f1e;
		}
		ul {
			text-align: left;
		}
		ol {
			text-align: left;
		}
		.mailchimp-form { 
			background-color: #4f0000;
			max-width: 500px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 10px;
			padding-bottom: 40px;

			input {
				border: 1px solid #fbbc1b;
				color: #fbbc1b;
				background-color: #69482f;
				font-family: 'Courier New', Courier, monospace;
				padding: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
				background-color:none;

				&:focus {
					outline: none;
				}
			}

			button {
				margin-left: 10px;
				color: #fbbc1b;
				font-weight: bold;
				border: 1px solid #fbbc1b;
				padding: 5px;
				margin-top: 10px;
				margin-bottom: 10px;
				font-family: 'Courier New', Courier, monospace;
				background-color: rgba(255, 255, 255, 0.0);
				&:hover {
					cursor: pointer;
					background-color: #000;
					border: 1px solid #000;
				}
			}
		}
		img {
			max-width: 80%;
		}
		padding: 20px;
		h1.page-title { 
			margin-top: 0px;
			font-family: palatino, serif;
			font-size: 48px;
			@media (max-width: 1100px) {
				font-size: 36px;
			}
			color: #fbbc1b;
			text-shadow: 2px 2px #442f1e;
			margin-bottom: 10px;
		}
	}
}